body{
    background-image: url(pictures/bck2.jpg);
    background-size: cover;
    .form-center{
    
        
        display:flex;
        justify-content: space-evenly;
        font-size:25px;
        font-weight: bold;
        font-family: cursive;
        
        
        

    }
    
    
    
    
        
}